<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-contacts</title>
    <link rel="stylesheet" href="/styles/contactUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="image/icons8-new-contact-96.png" type="image/png"  sizes="256x256">
</head>
<body>
  <div class="video-background">
    <video autoplay muted loop id="bg-video">
        <source src="/ss.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
    <form action="/contact-us" method="post"> 
   
<div class="container">
  
    <div class="title">Contact Us</div>
    
     <div class="input">
        <input type="text" name="name" id="name" required>
        <label for="name"><i class="fa-solid fa-user" style="color: rgb(116, 171, 226);"></i>Your Name</label>
      </div>
      
      <div class="input">
        <input type="text" name="email" id="email" required>
        <label for="email"> <i class="fa-solid fa-envelope" style="color: rgb(116, 171, 226);"></i>Email Id</label>
      </div>
      <div class="input">
        <textarea name="message" id="message" rows="8" required></textarea>
        <label for="message"><i class="fa-solid fa-message" style="color: rgb(116, 171, 226); "></i>Your message</label>
      </div>
       <button type="submit"><a href="https://my-contact.azurewebsites.net/contact-us">SUMBIT</a></button>
   
   
</div>

</form>

</body>
</html>




