
 <header class="header">
    <img src="/image/png/logo-no-background.png" class="logo">
    <nav class="navbar">
        <a href="/contacts">Home</a>
        <a href="/contact-us">contact</a>
        <a href="#">about</a>
        <a href="/contacts/logout">log-out</a>
    </nav>
 </header>