* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/* body { 
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), #3551b5 ),  url(../image/pexels-monstera-production-7794422.jpg); */
 /* background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed; 
} */


.video-background {
    position: fixed; /* Fixed to cover entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide overflow */
    z-index: -1; /* Behind other content */
}

/* Ensure video covers the viewport */
#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
   margin-bottom: 35px;
   font-size: 25px;
   font-weight: 600;
   color: rgb(113, 151, 234);
}

form {
      width: 100%;
      height: 100vh;
       display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      /* background: rgba(0, 0, 0, 0.6); */
      z-index:  1;

}

.container {
    width: 90%;
    max-width: 600px;
}

.input {
    margin-bottom: 30px;
    position: relative;
}

input, textarea {
  width: 100%;
  outline: none;
  border: 1px solid #221f1f9b;
  padding: 10px; 
  color: #717d97;
  background: transparent;
  font-size: 15px;
}

label {
    display: flex;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    padding: 10px;
    color: #8d99b2;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0px;
    border: 1px solid #221f1f9b;
    background: transparent;
    color: #8d99b2;
    width: 100%;
    cursor: pointer;
    outline: none;

}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
   top: -35px;
   font-size: 14px;
}

i { 
    position: relative;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    padding-left: 5px;
    
}

a {
    text-decoration: none;
    color: #92a5ce;
}